# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
myenv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Visual Studio Code settings
.vscode/

# MacOS
.DS_Store

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Env files
*.env
.env.*

# Spyder project settings
.spyderproject
.spyproject

# Jupyter Notebook outputs and metadata
*.ipynb_protected

# PyCharm files
.idea/

# Logs
logs/
*.log

# Test results
*.out
*.err
