# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
*.so
*.dll
*.dylib

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment directories
venv/
env/
.venv/
.env/

# Any nested virtual environments
**/venv/
**/env/
**/.venv/
**/.env/

# Ignore Pipfile.lock if using pipenv
Pipfile.lock

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
pytestdebug.log
.pytest_cache/

# MyPy cache
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Jupyter Notebook specific ignores
.ipynb_checkpoints/
*.ipynb_checkpoints
*.nbconvert/
*.nb.html
*.nb.py  # Converted Jupyter notebooks
*.nb.ipynb  # For Jupyter notebooks converted between formats

# JupyterLab workspace files and configurations
.lab/
.jupyter/

# Jupyter Notebook outputs
*.csv
*.hdf5
*.h5
*.hdf

# Ignore large notebook data outputs
*.parquet
*.feather
*.h5ad
*.npy
*.pkl
*.joblib

# JupyterLab settings
.jupyterlab-settings/

# Python environment variable files
.env
.env.*
env/
venv/

# VS Code specific settings and folders
.vscode/
*.code-workspace

# General IDE and text editor ignores
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Lock files generated by package managers
Pipfile.lock
poetry.lock
requirements.txt

# Pyright, Pylance, and other static analyzers in VS Code
.pyright/
.pylance/
